altgraph==0.17.4
appdirs==1.4.4
asttokens==2.4.1
bleak==0.21.1
click==8.1.7
devtools==0.12.2
executing==2.0.1
loguru==0.7.2
macholib==1.16.3
markdown-it-py==3.0.0
mdurl==0.1.2
packaging==24.0
pillow==10.3.0
pycairo==1.26.0
Pygments==2.17.2
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.5
pyobjc-core==9.2
pyobjc-framework-Cocoa==9.2
pyobjc-framework-CoreBluetooth==9.2
pyobjc-framework-libdispatch==9.2
rich==13.7.1
setuptools==69.5.1
six==1.16.0
Wand==0.6.13
wheel==0.37.1
